*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outer{
	width:100%;
	height:100vh;
	background: #bbb;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.inner{
	background: #f4f4f4;
	width: 25%;
	height: 80vh;
	border-radius:15px;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}
h1{
	color: white;
	background: transparent;
	padding: 6px 0 2px 0;
	background-color: #8566aa;
	margin-bottom:10px;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
button{
	min-height: 40px;
	width: 40px;
	border-radius: 50%;
	border-color: transparent;
	color: #fff;
	border: none;
	background-color: #8566aa;
	margin-left: 10px;
	outline: none;
	font-size: 40px;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
	cursor: pointer;
}
button:hover{
	background-color: #20bf6b;
}
input{
	text-align: center;
	top: 10px;
	height: 30px;
	width: 60%;
	border: none;
	background: transparent;
	border-bottom: 2px solid #8566aa;
	outline: none;
	font-size: 20px;
	font-weight: 500;
}
ol{
	margin-top: 30px;
}
ol li{
	padding-left: 0px;
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	align-items: center;
	color: #8566aa;
}
.todo_style{
	color: red;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.todo_style .fa-times{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: #8566aa;
	border-radius: 50%;
	margin: 0 15px 0 35px;
	color: aliceblue;
	box-shadow:5px 5px 15px -5px rgba(0,0,0,0.3);
	cursor: pointer;	
}
.todo_style .fa-times:hover{
	background-color: red;
}